# Composer files
plib/library/vendor/

# Binary gettext files
*.mo

.gitignore
.idea/
/spamexperts-extension.zip
/composer.phar
/codecept.phar
/plib/library/composer.lock

tests/_output/*

# sftp configuration file
sftp-config.json
