# Composer files
plib/library/vendor/

# Binary gettext files
*.mo

.idea/
.nvim/
/spamexperts-extension.zip
/composer.phar
/codecept.phar
/phpmd.phar

tests/_output/*

# sftp configuration file
sftp-config.json
